
@{
    ViewBag.Title = "Hardware Simulator";
}
<script src="~/Scripts/app/nand2tetrisang.js"></script>
<script src="~/Scripts/app/hardwaresim/sourceFileFactory.js"></script>
<script src="~/Scripts/app/hardwaresim/fileProcessingFactory.js"></script>
<script src="~/Scripts/app/hardwaresim/n2t-fileController.js"></script>



<div ng-app="nand2tetris" ng-controller="n2t-fileCtrl as fctrl">
    <h2>Hardware Simulator</h2>
    
    <div class="row">
        <div class="col-md-1">@Html.Partial("HardwareSimulator/_FileList")</div>
        <div class="col-md-1"></div>
        <div class="col-md-3">@Html.Partial("HardwareSimulator/_FileContents")</div>
        <div class="col-md-2">@Html.Partial("HardwareSimulator/_ChipInputsAndOutputs")</div>
        <div class="col-md-3">@Html.Partial("HardwareSimulator/_TestStatus")</div>
        <div class="col-md-2">@Html.Partial("HardwareSimulator/_TestScript")</div>
    </div>

</div>